/* just header clor here*/
.headerlogo{
    font-size: 24px;
    color:#f9faf8;
}
a,.smalltext{
    color:#e5e7eb ;
    font-size: 18px;
}
.f1{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #1f2937;
     
   
    

}
.cf1{
    border: 3px solid;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 20px;
}
.bigtext{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:#f9faf8;
    font-size: 48px;
    font-weight: 800;
    max-width: 400px;
     
    
}
.signup{
    flex-grow: 0;
    background-color: #3882f6;
    width: fit-content;
    font-size: small;
    padding:5px 18px;
    border-radius: 8px;
}
/* here i the hmm "this is where '''grey box''' goes*/
.greybox{
    display: flex;
    
    flex-direction: column;
}

ul{
    list-style-type: none;
    display: flex;
    gap:14px;
}

 



.infobox > img{
    width:250px;
    height:240px;
    border:4px solid #3882f6;
    border-radius: 25px;
}
.f2{ /*acts as the second *white* area flex *column dirctn*/
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: snow;
    padding:32px;
    gap:32px;
}
.infobox{
    display: flex;
    justify-content: space-between;
     
    justify-content: center;
    align-items:center;
    
    gap:26px;
}
.f2h{
    font-size: 36px;
    font-weight: 800;
    color:#1f2937;
}
.i{
    width: 200px;
}
/*3rd box*/
.q{
    display:flex;
    font-size:36px;
    font-style: italic;
   color: #1f2937;
    flex-flow:column;
    background-color: #e5e7eb;
    justify-content: space-between;
    padding:88px;
     
     
}
.by{
    margin-left: auto;
    margin-top: 1rem;
    color:inherit;
    font-weight: 800;
    align-self: flex-end;
}
.f4{
    display: flex;
    justify-content: space-between;
     
    background-color:  #3882f6;
   color:#f9faf8;
   padding:  10px 40px;
   border-radius: 10px;
   flex:auto;
    
   }
    input{
   background-color:  #3882f6;
   color:#f9faf8;
   width:100px;
   align-self: center;
   padding:5px;
   border:rgb(234, 23, 23);
   border-radius: 5px;
   }
   .in{
    align-self: center;
    border:2px solid #f9faf8;
    border-radius: 5px;
   }
.mf4{
    display: flex;
    
    justify-content: center;
    align-items: center;
     
    height: 300px;
    background-color:  snow;
    padding:60px;
    
}
.bh{
    font-size: 36px;
   
}
.subtext{
    font-size: 18px;
    max-width: 300px;
    margin-top: 0.6rem;  
}



.footer{
    background-color: #1f2937;
    font-size: 18px;
    color: #f9faf8;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
 